node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.netlify
.vercel
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLinters/eslint.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/tweets-gen.iml
/.idea/vcs.xml
